{% extends "base.html" %}
{% load static %}

{% block title %}
    Workspace
{% endblock %}

{% block content %}
    <!-- Buttons for creation new Operation and new Category -->
    <div class="add-buttons">
        <a class="btn btn-primary" href="{% url 'core_ledger:add_operation' %}">New Operation</a>
        <a class="btn btn-primary" href="{% url 'core_ledger:add_category' %}">New Category</a>
    </div>

    <!-- Last 5 Operations List -->
    <h2>Last 5 Operations</h2>
    <ul class="list-unstyled last-operations">
        {% for operation in last_operations %}
            <li>
                <span class="operation-info">
                    <a href="{% url 'core_ledger:operation' operation.id %}">
                        {{ operation.source.title }} -> {{ operation.destination.title }}</a>
                    - {{ operation.amount }}
                </span>
                <span class="operation-date">
                    {{ operation.date|date:'d.m.Y H:i' }}
                </span>
                <span class="operation-tag">
                    {% for tag in operation.operation_tags %}
                        <a href="{% url 'core_ledger:tag' tag.id %}">{{ tag.title }}</a>
                    {% endfor %}
                </span>
            </li>
        {% endfor %}
    </ul>

    <!-- Table for Source List -->
    <h2>Source List</h2>
    <table class="table table-bordered category-table">
        <tbody>
            {% for category in source_categories %}
                {% if forloop.counter0|divisibleby:3 %}
                    <tr>
                {% endif %}
                <td class="category-cell">
                    <a href="{% url 'core_ledger:category' category.id %}" class="category-link">
                        <div class="category-info">
                            <span class="category-title">{{ category.title }}</span><br>
                            <img src="{% static 'images/placeholder-icon.png' %}" alt="Placeholder Icon" class="category-icon">
                        </div>
                    </a>
                    <span class="category-total">{{ category.total }}</span>
                </td>
                {% if forloop.counter|divisibleby:3 or forloop.last %}
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <!-- Table for Storage List -->
    <h2>Storage List</h2>
    <table class="table table-bordered category-table">
        <tbody>
            {% for category in storage_categories %}
                {% if forloop.counter0|divisibleby:3 %}
                    <tr>
                {% endif %}
                <td class="category-cell">
                    <a href="{% url 'core_ledger:category' category.id %}" class="category-link">
                        <div class="category-info">
                            <span class="category-title">{{ category.title }}</span><br>
                            <img src="{% static 'images/placeholder-icon.png' %}" alt="Placeholder Icon" class="category-icon">
                        </div>
                    </a>
                    <span class="category-total">{{ category.total }}</span>
                </td>
                {% if forloop.counter|divisibleby:3 or forloop.last %}
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <!-- Table for Expense List -->
    <h2>Expense List</h2>
    <table class="table table-bordered category-table">
        <tbody>
            {% for category in expense_categories %}
                {% if forloop.counter0|divisibleby:3 %}
                    <tr>
                {% endif %}
                <td class="category-cell">
                    <a href="{% url 'core_ledger:category' category.id %}" class="category-link">
                        <div class="category-info">
                            <span class="category-title">{{ category.title }}</span><br>
                            <img src="{% static 'images/placeholder-icon.png' %}" alt="Placeholder Icon" class="category-icon">
                        </div>
                    </a>
                    <span class="category-total">{{ category.total }}</span>
                </td>
                {% if forloop.counter|divisibleby:3 or forloop.last %}
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
