<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ expense_category.title }} Transactions</title>
</head>
<body>
    <h1>{{ expense_category.title }} Transactions</h1>
    <ul>
        {% for transaction in expense_category.transaction_set.all %}
            <li>
                <a href="{% url 'core_ledger:transaction_detail' transaction.id %}">{{ transaction.income_category.title }} --> {{ transaction.expense_category.title }}</a>   -{{ transaction.amount }} at {{ transaction.date.time }}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
