<!DOCTYPE html>
<html lang="en">
<head>
    <title>Expense Tracker</title>
</head>
<body>
    <h1>Incomes List</h1>
    <ul>
        {% for income in incomes %}
            <li>
                <a href="{% url 'core_ledger:income_category' income.id %}">{{ income.title }}</a> - {{ income.total }}
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'core_ledger:incomes'%}">Show all incomes</a>

    <h1>Transaction History</h1>
    <h3>last five</h3>
    <ul>
        {% for transaction in transactions %}
            <li>
                <a href="{% url 'core_ledger:transaction_detail' transaction.id %}">{{ transaction.income_category.title }} -> {{ transaction.expense_category.title }}</a> - {{ transaction.amount }}
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'core_ledger:transactions'%}">Show all transactions</a>

    <h1>Expense Category</h1>
    <ul>
        {% for category in expense_category %}
            <li>
                <a href="{% url 'core_ledger:expense_category' category.id %}">{{ category.title }}</a>  - {{ category.total }}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
