<!DOCTYPE html>
<html lang="en">
<head>
    <title>Expense Tracker</title>
</head>
<body>
    <h1>Income History</h1>
    <ul>
        {% for income in incomes %}
            <li>{{ income.source }}   + {{ income.amount }}</li>
        {% endfor %}
    </ul>

    <h1>Transaction History</h1>
    <h3>last five</h3>
    <ul>
        {% for transaction in transactions %}
            <li>
                <a href="{% url 'core_ledger:transaction_detail' transaction.id %}">{{ transaction.title }}</a> - {{ transaction.amount }}
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'core_ledger:transactions'%}">Show all transactions</a>

    <h1>Expense Category</h1>
    <ul>
        {% for category in expense_category %}
            <li>
                <a href="{% url 'core_ledger:category_transactions' category.id %}">{{ category.name }}</a>  - {{ category.total }}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
