/* Стили для базового шаблона base.html */

/* Стили для шапки */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Стили для основного контента */
main {
    padding: 20px;
}

/* Стили для футера */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/*.category-cell {*/
/*    text-align: center;*/
/*    vertical-align: middle;*/
/*    padding: 50px; !* Установите желаемое расстояние между ячейками *!*/
/*}*/

.category-table {
    width: 25%; /* Фиксированная ширина таблицы */
    text-align: center;
    border-collapse: collapse; /* Убираем внутренние границы таблицы */
}

.category-cell {
    width: 33%; /* Фиксированная ширина ячейки (3 ячейки в строке) */
    text-align: center;
    vertical-align: middle;
    padding: 10px; /* Установите желаемое расстояние между ячейками */
    /*border: 1px solid #ccc; !* Границы для ячеек (по желанию) *!*/
}

